div.row {
	position: relative;
	height: 480px;
	min-width: 1360px;
}

@media screen and (device-width: 1300px) {
	div.row {
		min-width: 1000px;
		height: 350px;
	}
}

div.work {
	display: inline-block;
	position: absolute;
}

div.work img {
	width: 100%;
	height: 100%!important;
	position: absolute;
	outline: 0;
	border: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

div.work.h-1 {
	left: 0;
}

div.work.h-2 {
	left: 25%;
}

div.work.h-3 {
	left: 50%;
}

div.work.h-4 {
	right: 0;
}

div.work.v-1 {
	top: 0;
}

div.work.v-2 {
	top: 50%;
}

div.work.r-1-1 {
	width: 25%;
	height: 50%;
}

div.work.r-2-2 {
	width: 50%;
	height: 100%;
}